.LoadingMain{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 0.5;
}
.LoadingMain h1{
    margin: auto auto;
    width: 100px;
    height: 100px;
    text-align: center;
    color: var(--textcolor);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.below15 {
    --background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(183, 191, 236, 1) 0%, rgba(106, 116, 255, 1) 100%);
    --poster: #2430dd;
    --textcolor: #fff;
    background: var(--background);
    width: 100vw;
    /* max-width: 1200px; */
    /* height: 100vh; */
    padding-bottom: 2rem;
}

.above35 {
    --background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(183, 191, 236, 1) 0%, rgba(255, 106, 106, 1) 100%);
    --poster: #fb1e1e;
    --textcolor: #fff;
    background: var(--background);
    /* max-width: 1200px; */
    width: 100vw;
    /* height: 100vh; */
    padding-bottom: 2rem;
}

.between15to35 {
    --background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(183, 191, 236, 1) 0%, rgba(255, 229, 75, 1) 100%);
    --poster: #ffc41f;
    --textcolor: #000;
    background: var(--background);
    /* max-width: 1200px; */
    width: 100vw;
    /* height: 100vh; */
    padding-bottom: 2rem;
}

.nolocation {
    --background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(183, 191, 236, 1) 0%, rgba(135, 135, 135, 1) 100%);
    --poster: #676767;
    --textcolor: #fff;
    background: var(--background);
    /* max-width: 1200px; */
    width: 100vw;
    /* height: 100vh; */
    padding-bottom: 2rem;
}

.postar {
    width: 60vw;
    height: 60vh;
    margin: 0 auto;
    padding-top: 10rem;
    font-size: 50px;
    color: var(--textcolor);
    background: var(--poster);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.TitleName {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    width: 90vw;
    margin: 0 auto;
    padding: 2rem 0;
    color: var(--textcolor);
    text-align: center;
}