.SearchMain {
    width: 90%;
    max-width: 400px;
    /* height: 100px; */
    /* background:var(--textcolor); */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SearchMain>a {
    margin: 0;
    height: 30px;
}

.LocationIcon {
    /* border: 2px solid var(--textcolor); */
    background: var(--poster);
    width: 40px;
    height: 30px;
    color: var(--textcolor);
    padding: 3px 8px;
}

.inputDiv {
    max-width: 360px;
    width: calc(100% - 40px);
    height: 30px;
    cursor: pointer;
    position: relative;
}

.inputDiv input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 2px 10px;
    font-size: 1.8rem;
    border-radius: 5px;
    letter-spacing: 1px;
    color: var(--textcolor);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inputDiv ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    list-style: none;
    transition: all 0.3s ease-in-out;
}

.inputDiv ul li {
    padding: 2px 10px;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    color: var(--textcolor);
    background: #fff;
    margin-top: 2px ;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inputDiv ul li:first-child {
    background: var(--background);
}

.inputDiv ul li:hover {
    background: var(--background);
}

::placeholder {
    color: black;
    font-size: 1.8rem;
    vertical-align: middle;
    opacity: 0.5;
}