.Temp_Item {
    width: 100%;
    height: 100%;
}

.Temp_Item>h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--textcolor);
    width: 90%;
    border-bottom: 1px #fff solid;
    margin: 0 auto;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    letter-spacing: 2px;
}

.Temp_Item-Container {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    min-width: 330px;
    width: 90%;
    margin: 0 auto;
    height: 95px;
    /* margin-top: 2rem; */
}

.Temp_Item-Container .Temp_Item-left {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-right: 1rem;
}

 .Temp_Item-left-item1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.Temp_Item-left-item1>p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--textcolor);
    margin: 0;
    margin-bottom: 0.5rem;
}

 .Temp_Item-left-item2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 1.5rem;
}

.Detail-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.Detail-item .Detail-icon {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--textcolor);
    margin: 0;
    margin-right: 0.5rem;
}

.Detail-item>p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--textcolor);
    margin: 0;
}

.tempclick {
    cursor: pointer;
}

.Temp_Item-Container .Temp_Item-right {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1rem;
    height: 100%;
}

.Temp_Item-right h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--textcolor);
    /* margin: 0; */
    margin: 1rem 0;
    font-family: 'Varela Round', sans-serif;
    cursor: pointer;
}

.Temp_Item-right .HighLow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.HighLow .HighLow-Left {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.HighLow .HighLow-Left>p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--textcolor);
    margin: 0;
}

.HighLow-Left .UpIcon {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--textcolor);
    margin: 0;
}

.HighLow .HighLow-Right {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.HighLow .HighLow-Right>p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--textcolor);
    margin: 0;
}

.HighLow-Right .DownIcon {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--textcolor);
    margin: 0;
}

@media (max-width: 470px) {
    .Temp_Item-left-item2 {
        display: none;
    }

    .Temp_Item-Container .Temp_Item-left,
    .Temp_Item-Container .Temp_Item-right {
        width: 50%;
    }
}